@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1;
}

body {
  height: 100vh;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1;
  color: #333;
  text-align: left;
  background-color: white;
}


/* =============================================================================
                                  main
============================================================================= */


main {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

main::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 400%;
  width: 400%;
  content: '';
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  z-index: 1;
}

/* I've stripped this example down as much as possible.
However, there still seems to be some glitchy behavior when this is rendered
in the IOS Safari browser. */

main.animate::after {
  animation:         gradient_background 15s linear 0s infinite;
  -webkit-animation: gradient_background 15s linear 0s infinite;
}


/* ============================
    animation keyframes
============================ */


@keyframes gradient_background  {
  /* https://css-tricks.com/debugging-css-keyframe-animations/ */
  50% { transform: translate(-75%, -75%) }
}

/* https://www.quackit.com/css/properties/webkit/css_-webkit-transform.cfm */
@-webkit-keyframes gradient_background  {
  50%  { -webkit-transform: translate(-75%, -75%); }
}
